<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}">
  <head>
    <title>Contact</title>
  </head>
  <body>
    <main layout:fragment="content">
      <section class="breadcrumb-area bg-img bg-overlay" th:style="'background-image: url(' + @{/img/bg-img/breadcumb.jpg} + ');'">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="breadcrumb-content text-center">
                <h2>Liên hệ</h2>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="shop_grid_area section-padding-80">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <div class="bg-white rounded p-4" style="border: 1px solid #eee;">
                <h5 class="mb-2">Thông tin liên hệ</h5>
                <p class="text-muted mb-3">Trang liên hệ đang được hoàn thiện.</p>
                <a th:href="@{/shop}" class="btn essence-btn">Quay lại mua sắm</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
