<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}">
  <head>
    <title>Contact</title>
  </head>
  <body>
    <main layout:fragment="content">
      <!-- Wishlist Section -->
      <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="contact-area d-flex align-items-center">
          <div class="google-map">
            <div id="googleMap"></div>
          </div>

          <div class="contact-info">
            <h2>How to Find Us</h2>
            <p>
              Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla
              ante. Aenean finibus velit id urna vehicula, nec maximus est
              sollicitudin.
            </p>

            <div class="contact-address mt-50">
              <p><span>address:</span> 10 Suffolk st Soho, London, UK</p>
              <p><span>telephone:</span> 0902764030</p>
              <p>
                <a href="mailto:contact@essence.com">contact@essence.com</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
